@import url('https://fonts.googleapis.com/css?family=Bowlby One SC');
@import url('https://fonts.googleapis.com/css?family=Leckerli One');

/*Color Code References
Sage Green: #535E4B
Sage: #C1C2AD
Cognac: #B5A4A3
Taupe: #E9E6E2
*/

body{
    background-color: #E9E6E2;
}
H1{
    text-align: center;
    font-family: 'Bowlby One SC';font-size: 500%;
    font-style: italic; color: #535E4B;
    background-color: #C1C2AD; background-size: cover; background-position: center;background-repeat: no-repeat;
}

hr{
    border-top: 5px solid ;
    border-bottom: 5px solid;
    margin-left: auto; margin-right: auto;
    color:#535E4B ;
}

h2{
    text-align: center;
    font-family: 'Leckerli One'; font-style: italic; font-size: 300%; color:#C1C2AD ;
}

h3{
    text-align: center;
    font-family: 'Bowlby One SC';font-size: 250%;
    font-style: italic; color: #535E4B;
    background-color: #C1C2AD;
}

.image {
    display: inline-block;
    float:left;
    max-width:100%; height: auto;
    object-fit:cover; 
    }
    
    .main-paragraph{
        margin-left:5%; margin-right:5%;text-align:center;
        font-size: 200%;
        color:#B5A4A3; 
    }

    p{
        text-align: center;
        font-size: 200%; color: #B5A4A3;
    }